node_modules
.DS_Store
dist
build
.expo
.expo-shared
ios
android
coverage
.env
.env.*
*.log
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
