NODE_ENV=production
PORT=8000
CLIENT_ORIGIN=https://<your-vercel-domain>
API_ORIGIN=https://<your-heroku-domain>
JWT_SECRET=replace_me
FRONTEND_ORIGIN=https://<your-vercel-domain>
ALLOWED_HOSTS=localhost,127.0.0.1,<your-heroku-domain>